<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Blogger</title>
    <div class="nav">
        <div class="logo"><div class="log1">Blog-</div><div class="log2">Rit</div>
    </div>

    <div class="navitem">
        <ul>
           <a href="/"> <li id="home">Home</li></a>
            <a href="about"><li id="about">About us</li></a>
       <a href="contact">     <li id="contact">Contact us</li></a>
       <a href="compose"><li id="compose">compose</li></a>


        </ul>



    </div>
</div>
</head>
<body>
    
