<%- include("partials/header") -%>

<h2>Compose</h2>
<form action="/compose" method="post">
    <h3>Title</h3>
    <input id="in1" type="text" name="blogtitle" >
    <h3>Blog-Post</h3>
<textarea name="blogpost" id="in2" cols="40" rows="10"></textarea>
    <button type="submit" name="button">Publish</button>
</form>














<%- include("partials/footer") -%>