body{
    background-color: bisque;
}
h2{
    margin-left: 70px;
}
h3{
    font-size: 26px;
}
p{
    margin-left: 70px;
}
.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(235, 209, 178);
}
.logo{
    display: flex;
    flex-direction: row;
margin-left: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.log1{
    color: white;
    font-size:  30px;
}
.log2{
    color: orangered;
    font-size: 25px;
    margin-top: 15px;
}
.navitem{
    margin-left: 700px;
}
.navitem ul{
    display: flex;
    flex-direction: row;
}
ul a{
    text-decoration: none;
}
.navitem ul li{
    list-style: none;
    margin-right:20px ;
    color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.navitem ul li:hover{
    color: aquamarine;
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}
input#in1{
    width: 800px;
    height: auto;
    border: 2px solid rgb(253, 201, 136);
}
#in2{
    
    border: 2px solid rgb(253, 201, 136);

}
button{
    background-color: black;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    color: white;
    margin-top: 20px;
}

